.HOME{
    background-color: #2a74a5;
    width:  350px;
    height: 380px;
    border:  solid ;
    padding: 50px;
    color: #940b1d;  
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    display: inline-block;
  }
  img{
    border-radius: 20px;
   width: 250px;
   height: 200px;

  }
  button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .container{
    background-color:#ebebe4;
  }